<div class="row">
  <div class="d-flex justify-content-center">
    <%= simple_form_for [@list, @bookmark] do |b|%>
      <%= b.association :movie, as: :select %>
      <%#= b.association :list, as: :check_boxes %>
      <%= b.input :comment %>
      <%= b.submit value: "Save" %>
    <% end %>
  </div>
</div>
